.background {
    padding: 20px;
    height: calc(100% - 40px);
}

.card {
    height: auto;
    display: flex;
    gap: 5px;
}

.control {
    width: 300px;
}

.canvas {
    background-color: lightgray;
    width: calc(100% - 300px);
    height: auto;
    border-radius: 15px 0 0 15px;
}

.explanation  {
    box-sizing: border-box;
    background-color: lightgray;
    width: 100%;
    margin-top: 20px;
    padding: 50px;
    border-radius: 15px;
}
