.background {
    background-color: #a3a3a3;
    padding: 20px;
    margin-top: 55px;
}

.card {
    height: auto;
    display: flex;
    gap: 5px;
}

.canvas {
    background-color: lightgray;
    width: 50px;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 15px 0 0 15px;
}

.explanation  {
    box-sizing: border-box;
    background-color: lightgray;
    width: 100%;
    margin-top: 20px;
    padding: 50px;
    border-radius: 15px;
}
