.control {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    width: 26%;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    background: rgba(255, 255, 255, 4%);
    height: max(500px, 70%);
}