.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-auto-rows: auto;
    column-gap: 1%;
    row-gap: 10px;
    height: max-content;
    min-height: 500px;
}

.algoNavigationContainer {
    width: 100%;
    height: fit-content;
    background: rgba(255, 255, 255, 4%);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;

    color: white;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
}


.valid:hover {
    border-color: #408343;
    background: rgba(0, 255, 0, 4%);


    border-style: solid;
    border-width: 1px;

    cursor: pointer;

    transition: all 500ms ease-out 100ms;
}

.invalid:hover {
    border-color: #834043;
    background: rgba(255, 0, 0, 4%);

    border-style: solid;
    border-width: 1px;

    transition: all 500ms ease-out 100ms;
}

.leftButton {
    width: 50%;
    -webkit-border-radius: 12px 0 0 12px;
    -moz-border-radius: 12px 0 0 12px;
    border: none;
    height: min(2vw, 50px);
    font-size: min(1.2vw, 25px);

    background: inherit;
    color: inherit;
    cursor: inherit;
}

.rightButton {
    width: 50%;
    -webkit-border-radius: 0 12px 12px 0;
    -moz-border-radius: 0 12px 12px 0;
    border: none;
    height: min(2vw, 50px);
    font-size: min(1.2vw, 25px);

    background: inherit;
    color: inherit;
    cursor: inherit;
}

.fullSizeButton {
    width: 100%;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border: none;
    height: min(2vw, 50px);
    font-size: min(1.2vw, 25px);

    background: inherit;
    color: inherit;
    cursor: inherit;
}