.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-auto-rows: auto;
    column-gap: 1%;
    row-gap: 10px;
    height: max-content;
    min-height: 500px;
}

.buttonAddRemove:active {
    background-color: #a2a2a2;
}

.remove {
    width: 100%;
    border-radius: 15px 15px 15px 15px;
    border: none;
    height: min(50%, 50px);
    font-size: min(1.2vw, 25px);
}