.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-auto-rows: auto;
    column-gap: 1%;
    row-gap: 10px;
    height: max-content;
    min-height: 500px;
}

.undoRedo {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0 10%;
    box-sizing: border-box;
}