.control {
    padding-left: 0;
    margin-left: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.add {
    margin-bottom: 5%;
    width: 90%;
}

.addBox {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    border: 0;
}

.addButton {
    width: 100%;
}

.break {
    width: 100%;
}

.remove {
    width: 90%;
    margin-top: 5%;
}

.removeBox {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    border: 0;
}

.removeButton {
    width: 100%;
}

.undo {
    width: 45%;
    margin-top: 10%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.undobutton {
    width: 100%;
}

.redo {
    width: 45%;
    margin-top: 10%;
    padding-left: 5%;
    padding-bottom: 5%;
}

.redobutton {
    float: left;
    width: 100%;
}
