.category_item {
    background-color: #2d2d2d;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 10px;
    transition: background-color 0.3s;
}

.listElement {
    width: 499px;
    height: 241px;
}

.cardFront {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cardFront,
.cardBack {
    width: 100%;
    height: 100%;

    /* Alignment */
    position: absolute;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}

.cardFront:hover .viewMore {
    background: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0);
    color: inherit;
}

.viewMore {
    width: 147px;
    height: 43px;
}

.cardTitle {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 22px;

    color: #ffffff;

    cursor: pointer;
}