.c0 {
    background: linear-gradient(180deg, #25879C 0%, #54C3DB 100%);
    color: #25879C
}

.c1 {
    background: linear-gradient(rgb(76, 175, 151) 0%, rgb(81, 198, 171) 100%);
    color: rgb(76, 175, 151)
}

.c2 {
    background: linear-gradient(180deg, #5A5EB7 0%, #7075EA 100%);
    color: #5A5EB7
}

.c3 {
    background: linear-gradient(180deg, #AF6160 0%, #CA8A89 100%);
    color: #AF6160
}

.c4 {
    background: linear-gradient(180deg, #674A98 0%, #A594C3 100%);
    color: #674A98
}

.c5 {
    background: linear-gradient(180deg, #4572B6 0%, #789EDA 100%);
    color: #4572B6
}

.c6 {
    background: linear-gradient(180deg, #CC733E 0%, #EAA378 100%);
    color: #CC733E
}

.c7 {
    background: linear-gradient(180deg, #F1637C 0%, #E399A6 100%);
    color: #F1637C
}