.formDiv {
    width: 100%;
    height: fit-content;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;

    background: rgba(255, 255, 255, 4%);
    color: white;

    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.formValid:hover,
.formValid:focus-within {
    border-color: #408343;
    background: rgba(0, 255, 0, 4%);

    border-style: solid;
    border-width: 1px;

    transition: all 500ms ease-out 100ms;
}

.formInvalid:hover,
.formInvalid:focus-within {
    border-color: #834043;
    background: rgba(255, 0, 0, 4%);

    border-style: solid;
    border-width: 1px;

    transition: all 500ms ease-out 100ms;
}

.form {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 0;

    grid-template-columns: repeat(2, auto);
    background: none;
    border: none;
    outline: none;

    width: 100%;
    height: 100%;
}

.inputBox:focus {
    border:none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.inputBox {
    margin: 0;
    border: none;

    font-size: 100%;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: min(2vw, 50px);

    background: none;
    color: inherit;
}

.inputBoxTopWithLabel {
    border-radius: 0 15px 0 0;
}

.inputBoxTopNoLabel {
    border-radius: 15px 15px 0 0;
    padding: 2% 0 2% 10%;
}


.inputBoxWithLabel {
    padding: 2% 10% 2% 10%;
}

.inputBoxNoLabel {
    grid-column-start: 1;
    grid-column-end: 3;
}

.label {
    padding: 2% 10% 2% 10%;
    border: none;
    border-radius: 0 0 0 0;
    font-size: 100%;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
}

.labelTop {
    border-radius: 15px 0 0 0
}

.button {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    border-radius: 0 0 15px 15px;

    border: none;

    height: min(2vw, 50px);
    font-size: min(1.2vw, 25px);
    background: inherit;
    color: inherit;
}

.button:hover:enabled {
    cursor: pointer;
}