.form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: auto;
    width: 100%;
    row-gap: 0;
    height: fit-content;
}

.inputBox {
    margin: 0;
    border: none;
    font-size: 100%;
    text-align: center;
    padding: 2% 0 2% 0;
    box-sizing: border-box;
    width: 100%;
    height: min(2vw, 50px);
}

.inputBoxTopWithLabel {
    border-radius: 0 15px 0 0;
}

.inputBoxTopNoLabel {
    border-radius: 15px 15px 0 0;
    padding: 2% 0 2% 10%;
}


.inputBoxWithLabel {
    padding: 2% 10% 2% 10%;
}

.inputBoxNoLabel {
    grid-column-start: 1;
    grid-column-end: 3;
}

.label {
    padding: 2% 10% 2% 10%;
    border: none;
    border-radius: 0 0 0 0;
    font-size: 100%;
    text-align: center;
    background-color: white;
    margin: 0;
    box-sizing: border-box;
}

.labelTop {
    border-radius: 15px 0 0 0
}

.button {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    border-radius: 0 0 15px 15px;
    border: none;
    height: min(2vw, 50px);
    font-size: min(1.2vw, 25px);
}