.control {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}

.add {
    margin-bottom: 5%;
    width: 50%;
}

.addBox {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    border: 0;
}

.addButton {
    width: 100%;
}

.break {
    width: 100%;
}

.remove {
    width: 50%;
    margin-top: 5%;
}

.removeBox {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    border: 0;
}

.removeButton {
    width: 100%;
}

.undo {
    width: 30%;
    margin-top: 10%;
    display: grid;
}

.undobutton {
    margin-right: 10%;
}

.redo {
    width: 30%;
    margin-top: 10%;
    display: grid;
}

.redobutton {
    margin-left: 10%;
}
