.canvas {
    background-color: lightgray;
    width: 74%;
    height: auto;
    max-height: 50%;
    float: left;
}

.visual {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    height: auto;
    background-color: yellow;
}

.control {
    display: flex;
    justify-content: center;
    background-color: red;
    height: auto;
    margin-left: auto;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.explanation  {
    width: 100%;
    margin-top: 3%;
    background-color: deeppink;
}
