.canvas {
    background-color: lightgray;
    height: auto;
    max-height: 50%;
    flex: 1;
    min-width: 0;
}

.visual {
    background-color: #a3a3a3;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-top: 55px;
}

.visualisation {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 5px;
    height: auto;
}

.control {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    height: auto;
    min-width: 150px;
    max-width: 450px;
    flex-basis: 26%;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.explanation  {
    box-sizing: border-box;
    background-color: lightgray;
    width: 100%;
    margin-top: 3%;
    padding: 50px
}
